@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/*RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  line-height: 1.1;
}

img,
canvas,
picture,
figure,
video {
  max-width: 100%;
  height: auto;
}

input,
select,
textarea,
button {
  font: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*CUSTOM PROPERTIES*/
:root {
  /*TYPOGRAPHY*/
  --font-family: 'Roboto', sans-serif;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;

  /*COLORS*/
  --bg-clr: #f3f1c6;
  --accent-clr: #f76c6c;
  --darken-accent-clr: #d7385e;
  --text-clr: #333;
}

/*UTILITY CLASSES*/
.text-center {
  text-align: center;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

/*GENERAL STYLING*/
body {
  font-family: var(--font-family);
  background-color: var(--bg-clr);
  color: var(--bg-clr);
}

.failed-wrapper {
  padding: 2rem 3rem;
  background-color: var(--darken-accent-clr);

  h1 {
    font-size: 3.5rem;
    color: var(--bg-clr);
  }

  p {
    font-size: 1.5rem;
    color: var(--bg-clr);
  }
}

.failed-btn {
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  margin-top: 1rem;
  border: none;
  color: var(--darken-accent-clr);
  background-color: var(--bg-clr);
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:is(:focus, :hover) {
    background-color: rgb(230, 232, 235);
    color: yellowgreen;
    border: 0;
    box-shadow: 0px 0.5px 0.5px 0.5px #000;
    scale: 1.01;
  }
}
